@import "variables";
@import "mixin";
body{
  padding: 0;
  margin: 0;
}

.highlighted{
  margin: 0;
  padding: 0;
}
.lines{
  margin: 0 -2.5;
}

.main-container{
  .wrap{
    margin: 0 auto;
    width: 1250px;
  }
}
#block-exam-theme-logo{
  margin: 0;
}

.logotype{
  width: 240px;
  padding: 27px 35px;
  background-color: $black;
  color: $white;
  font-weight: lighter;
  text-transform: capitalize;
  text-align: center;
  .main-word{
    font-size: 30px;
    color: $blue;
    font-weight: bold;
  }
}

.social-link{
  display: flex;
  a{
    display: block;
    padding-left: 10px;
  }
  &:first-child{
    padding: 0;
  }
}

.pager-nav,.pager{
  padding-top: 50px;
  padding-bottom: 100px;
  .pager__item{
    a{
      border: none;
      font-size: 14px;
      color: $dark-gray;
      background-color: transparent;
      &:hover{
        border-radius: 50%;
      }
    }
    &:first-child{
      a{
      border-radius: 50%;
    }
    }
    &:last-child{
      a{
        border-radius: 50%;
      }
    }
  }
  .active{
    a{
      border-radius: 50%;
      background-color: $mid-gray;
    }
  }

}


.highlighted{
  position: relative;
  .lines{
    display: flex;

  }
  .left{
    display: block;
    box-sizing: border-box;
    content: "";
    width: 30%;
    height: 4px;
    background: $blue;
    border-right: 4px solid $black;
  }
  .right{
    content: "";
    width: 70%;
    height: 4px;
    background: $gray;
    display: block;
    box-sizing: border-box;
  }
}

.page{
  padding: 20px 0;
  .field--name-body{
    text-transform: uppercase;
    line-height: 2em;
    text-align: justify;
  }
}
.block-field-blocknodepagetitle{
  @include tit-cat;
  text-align: center;
}
